################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.txt
*.docx
/Doxyfile
/JSON/Schemas/Catalog
